body {
    font-family: "Helvetica Neue","Helvetica","Lucida Grande","Arial","Hiragino Sans GB","Microsoft Yahei","WenQuanYi Micro Hei","sans-serif";
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.site-header {
    position: relative;
    text-align: center;
    background-color: #8ea8f8;
    color: #fff;
    margin-bottom: 0;
}

.site-nav {
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 1100;
}

.site-nav a {
    color: #eee;
    font-size: 20px;
}

.site-header h1 {
    font-size: 56px;
    text-shadow: -5px 5px 0 rgba(0,0,0,0.1);
}

.site-header p {
    color: #f4f4f4;
}

.site-header span {
    font-size: 14px;
}

.site-header .form-group {
    position: relative;
    margin-top: 40px;
}

.site-header .search {
    border: 2px solid #EEEEEE;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    padding: 13px 30px;
    border-radius: 0;
    height: auto;
    text-align: center;
}

.site-header .fa {
    position: absolute;
    right: 25px;
    top: 15px;
    color: #eee;
    font-size: 24px;
}

.navbar-extra {
    border-radius: 0;
    margin-bottom: 0px;
}

.navbar-collapse {
    font-size: 18px;
}

.board {
    /*height: 500px;*/
    padding: 10px;
}

.board-header {
    /*height: 20%;*/
    padding: 5px 10px;

    background-color: #0D3349;
}

.board-header span {
    color: #EEEEEE;
    font-size: 18px;
}

.board-header a {
    color: #009add;
    font-size: 15px;
    position: absolute;
    top: 16px;
    right: 30px;
}

.board-content {
    padding: 5px;
    /*height: 80%;*/
    /*background-color: #00CC00;*/
}

.board-content div {
    /*padding: 5px;*/
    /*height: 15px;*/
    /*background-color: #00CC00;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.footer-about {
    text-align: center;
}