<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Search</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    {% load staticfiles %}
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/search.css' %}" rel="stylesheet">

    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/search.js' %}"></script>


    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
         <a class="navbar-brand" href="{% url 'interviews:index' %}">面经</a>
         <form id="form-search" class="navbar-form pull-left" role="search" method="get" action="{% url 'interviews:search'%}">
           <div class="form-group">
             <input type="text" name="wd" class="form-control search clearable" placeholder="{{ tips }}" value="{{ search_keyword }}">
             <i class="fa fa-search" id="i-search"></i>
           </div>
         </form>
      </div>

      <!--/.navbar-collapse -->
   </div>
</div>


<div id="wrapper">
<!--<header class="site-header">-->
    <div class="container search-bar">

        <div class="row">
            <div class="col-xs-12">
                <p>共为您找到{{ result_num }}个结果</p>
            </div>
        </div>
    </div>
<!--</header>-->

    <div class="container">
        <div class="row results">
            {% for item, tags in items %}
            <div class="col-xs-10 col-md-7 content-wrapper">
                <div class="content">
                    <a name="{{ forloop.counter }}" class="content-title" href="{{ item.link }}" target="_blank">{{ item.title }}</a>
                    {% for tag in tags %}
                    <span class="result-tag" onclick="javascript:httpGet('{% url 'interviews:search' %}', '{{ tag }}')">{{ tag }}</span>
                    {% endfor %}
                    <p>
                        <span class="content-time">{{ item.create_time }} - </span>
                        {% if item.description|length > 200 %}
                        <span hidden class="content-desc-all">{{ item.description}}</span>
                        <span class="content-desc-partial">{{ item.description|slice:"200" }} ...</span>
                        <a title="{{ forloop.counter }}" href="javascript:void(0);" class="toggle-expand" onclick="content_toggle(this)">Show All</a>
                        {% else %}
                        <span class="content-desc">{{ item.description }}</span>
                        {% endif %}
                    </p>
                    <div class="content-footer">
                        <a class="content-source" href="{{ item.source_link }}" target="_blank">{{ item.source }}</a>
                        &nbsp;&nbsp;&nbsp;
                        <a class="content-source" href="{{ item.link }}" target="_blank">查看原帖</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div> <!-- / row -->
    </div>


<div id="page">

    {% if prev_page %}
    <a href="{{ prev_page }}" class="n">&lt;上一页</a>
    {% endif %}

    {% for page_id, page_url in pages %}

        {% if page_id == current_page_num %}
            <strong>
                <span class="pc">{{ page_id }}</span>
            </strong>
        {% else %}
            <a href="{{ page_url }}">
                <span class="pc">{{ page_id }}</span>
            </a>
        {% endif %}
    {% endfor %}

    {% if next_page %}
    <a href="{{ next_page }}" class="n">下一页&gt;</a>
    {% endif %}
</div>

</div>



</body>

</html>
