/* body css */
body {
    font-family: "Helvetica Neue","Helvetica","Lucida Grande","Arial","Hiragino Sans GB","Microsoft Yahei","WenQuanYi Micro Hei","sans-serif";
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin-top: 60px;
}

/* for results and content related */
.results {
    margin-left: 0px;
}

.content-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #EEEEEE;
    padding-left: 0px;

}

.content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content p {
    margin-bottom: 0px;
}

.content-title {
    color: #259;
    font-size: 18px;
}

.content-desc {
}

a.toggle-expand {
    display: inline-block;
    padding: 0 3px;
    border-radius: 2px;
    font-size: .9em;
    text-decoration: none;
    background-color: #eff6fa;
}

.content-time {
    color: #888888;
}

.content-source {
    color: #999999;
}

.content-footer {
    margin-top: 5px;
}

/* tag css */
.result-tag {
    /*display: inline-block;*/
    /*max-width: 90px;*/
    margin-right: 5px;
    padding: 1px 12px;
    font-size: 15px;
    text-align: center;
    border: 1px solid #ddd;
    color: #666;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    -webkit-user-select: none;
    transition: all cubic-bezier(.22,.58,.12,.98) .4s;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result-tag:hover {
    border-color: #4fc1e9;
    color: #4fc1e9;
}

/* link css */
a:link {
    -webkit-tap-highlight-color: rgba(225,225,225,.5);
}


/* navbar css */

.navbar {
    background-color: #0767c8;
    border-color: #0767c8;
}

.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


.navbar .container .navbar-brand {
    margin-left: -32px;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
    font-size: 30px;
}

.container .navbar-header {
    width: 100%;
    margin-left: 10px;
    margin-right: 5px;
}




#form-search .search{
    width: 100%;
}

#form-search .fa {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #0767c8;
    font-size: 24px;
}

#form-search .form-group {
    position: relative;
    /*width: 600px;*/
    width: 100%;
}


@media (min-width: 992px) {
    #form-search {
        width: 60%;
    }
}

@media (min-width: 610px) and (max-width: 991px) {
    #form-search {
        width: 90%;
    }
}

@media (min-width: 400px) and (max-width: 609px) {
    #form-search {
        width: 80%;
    }
    .navbar .container .navbar-brand {
        margin-left: -20px;
    }
}

@media (max-width: 400px){
    .navbar .container .navbar-brand {
        display: none;
    }

    .container .navbar-header{
        margin-left: 0px;
    }

    #form-search {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media(max-width:640px) {
    .navbar .navbar-form {
        /*width: 350px;*/
        /*padding-lxeft:0;*/
        /*padding-right:0;*/
    }

    #form-search .search{
        /*width: 350px;*/
    }
}
@media(min-width:768px) {
    .navbar .navbar-form {
        /*width: 250px;*/
    }
    #form-search .search{
        /*width: 450px;*/
    }
}
