body {
    font-family: "Helvetica Neue","Helvetica","Lucida Grande","Arial","Hiragino Sans GB","Microsoft Yahei","WenQuanYi Micro Hei","sans-serif";
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin-top: 60px;
}

/*.search-bar {*/
    /*padding-top: 30px;*/
    /*padding-bottom: 30px;*/
/*}*/

/*.search-bar .search {*/
    /*border: 2px solid #222222;*/
    /*-webkit-box-shadow: none;*/
    /*box-shadow: none;*/
    /*font-size: 14px;*/
    /*padding: 8px 20px;*/
    /*border-radius: 0;*/
    /*height: auto;*/
    /*text-align: left;*/
/*}*/

/*.search-bar .fa {*/
    /*position: absolute;*/
    /*right: 25px;*/
    /*top: 5px;*/
    /*color: #b9def0;*/
    /*font-size: 24px;*/
/*}*/

#form-search {


}

#form-search .search{
    width: 500px;
}

#form-search .fa {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #0767c8;
    font-size: 24px;
}

#form-search .form-group {
    position: relative;
    /*margin-top: 40px;*/
}


.results {
    margin-left: 0px;
}

.content-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #EEEEEE;
    padding-left: 0px;

}

.content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content p {
    margin-bottom: 0px;
}

.content-title {
    color: #259;
    font-size: 18px;
}

.content-desc {
}

a.toggle-expand {
    display: inline-block;
    padding: 0 3px;
    border-radius: 2px;
    font-size: .9em;
}

a.toggle-expand {
    text-decoration: none;
    background-color: #eff6fa;
}

.content-time {
    color: #888888;
}

.content-source {
    color: #999999;
}

.content-footer {
    margin-top: 5px;
}


#wrapper {
    padding-left: 10%;
}

#page {
    margin: 30px 0 40px 0;
    font: 14px arial;
    white-space: nowrap;
}

#page a, #page strong {
    display: inline-block;
    vertical-align: text-bottom;
    height: 34px;
    text-align: center;
    line-height: 34px;
    text-decoration: none;
    overflow: hidden;
    margin-right: 9px;
    background: white;
}

#page a {
    cursor: pointer;
}

#page .n:hover, #page a:hover .pc {
    background: #f2f8ff;
    border: 1px solid #38f;
}

#page a:hover {
    background: 0;
}

#page .n {
    height: 34px;
    padding: 0 18px;
    border: 1px solid #e1e2e3;
}

#page strong .pc {
    border: 0;
    width: 36px;
    height: 36px;
    line-height: 36px;
}

#page .pc {
    width: 34px;
    height: 34px;
    border: 1px solid #e1e2e3;
}

#page span {
    display: block;
}


em {
    font-style: normal;
    color: #cc0000;
}

a:link {
    -webkit-tap-highlight-color: rgba(225,225,225,.5);
}

.result-tags-wrapper {

}

.result-tag {
    /*display: inline-block;*/
    /*max-width: 90px;*/
    margin-right: 5px;
    padding: 1px 12px;
    font-size: 15px;
    text-align: center;
    border: 1px solid #ddd;
    color: #666;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    -webkit-user-select: none;
    transition: all cubic-bezier(.22,.58,.12,.98) .4s;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result-tag:hover {
    border-color: #4fc1e9;
    color: #4fc1e9;
}


/*@media(max-width:767px) {*/
@media(max-width:600px) {
    .navbar .navbar-form {
        width: 350px;
        /*padding-left:0;*/
        /*padding-right:0;*/
    }

    #form-search .search{
        width: 350px;
    }
}
@media(min-width:768px) {
    .navbar .navbar-form {
        width: 250px;
    }
    #form-search .search{
        width: 500px;
    }
}
.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar {
    background-color: #0767c8;
    border-color: #0767c8;
}

.navbar .container .navbar-brand {
    margin-left: -32px;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
    font-size: 30px;
}

